# PRIMARY (commented out for now)
# REACT_APP_API_BASE=https://wonderful-generosity-production.up.railway.app , studentattendancetrackingsystem-production-6440.up.railway.app

# FALLBACK (currently active)
REACT_APP_API_BASE=https://studentattendancetrackingsystem-production-7589.up.railway.app