# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv_*/
.venv/
.env
.env.*
!.env.example

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
.vs/

# OS files
.DS_Store
Thumbs.db

static/
